extends ../../layouts/default

include ../../../common/markup/utilites

block TITLE
    title Технологии
block CONTENT
    .page-title
        .container
            ul.breadcrumb
                li.back
                    a(href="") Вернуться назад
                li
                    a(href="/")
                        +svg-icon("home")
                li
                    a(href="") Технологии
            h1 технологии
    .technologies#technologies
        .container
            .technologies-tabs
                ul.nav-tabs
                    li
                        a.active(href="#") Велосипеды
                    li
                        a(href="#") Самокаты

            mixin technologies-features-item(tfiimg, tfiname, tfilogo, tfibrief, tfitext)
                .technologies-features-item
                    .technologies-features-item-img(style="background-image:url(images/" + tfiimg + ")")
                    .technologies-features-item-descr
                        .title
                            .title-icon
                                img.technologies-features-item-logo(src=`images/${tfilogo}`)
                            .title-text
                                .badge
                                    h2.badge.badge-blue
                                        span= tfiname
                                .info= tfibrief
                        .description
                            p=tfitext
                        a.link(href="#")
                            span Читать полностью
            .technologies-features
                +technologies-features-item("tech-features-item-1.jpg", "folding geometry", "tech-features-item-icon-1.png", "Геометрия для складных рам", "Комфортная геометрия с вертикальной посадкой, максимально адаптированная для складных рам с колесами небольшого размера, которая позволит наслаждаться прогулками в течение длительного времени, не испытывая при этом дискомфорта.")
                +technologies-features-item("tech-features-item-2.jpg", "comfort geometry", "tech-features-item-icon-2.png", "Комфортная геометрия ", "Вальяжная, комфортная настолько, насколько это вообще возможно, геометрия. Вертикальная посадка, которая позволяет наслаждаться катанием и любоваться городскими видами, тщательно подобранные углы и длины труб, а также качественные компоненты комфорт-класса, от седел до рулей - вот рецепт хорошей, правильной комфортной геометрии.")
                +technologies-features-item("tech-features-item-3.jpg", "race geometry", "tech-features-item-icon-3.png", "Накатистая геометрия ", "Накатистая геометрия для максимально эффективного приложения сил райдера во время гонок. Характерная \"вытянутость\" достигается за счет длинной верхней трубы, что позволяет добиться максимальной стабильности байка и аэродинамической посадки райдера во время гонки. Одновременно с этим решением используются укороченные нижние перья, позволяющие добиться большей маневренности в виражах.")
                +technologies-features-item("tech-features-item-4.jpg", "hmcf carbon", "tech-features-item-icon-4.png", "Композитный монокок", "Композитный монокок от итальянского дизайнерского бюро, изготовлен с применением технологий Nano Matrix. Каждая такая рама стандартно имеет коническую рулевую трубу и совместима с системой крепления X12 Through Axle.")
                +technologies-features-item("tech-features-item-5.jpg", "icr", "tech-features-item-icon-5.png", "АСР", "Такое технологическое решение имеет много преимуществ, от более аккуратного внешнего вида велосипеда до улучшения аэродинамических характеристик и уменьшения массы велосипеда в целом. Кроме того, проложенные внутри рамы тросы имеют дополнительную защиту от загрязнений, что существенно продлевает срок их службы и время точной, бесперебойной работы.")
                +technologies-features-item("tech-features-item-6.jpg", "sport geometry", "tech-features-item-icon-6.png", "Гибридная геометрия", "Гибридная геометрия, сочетающая в себе главные достоинства Race и Recreational геометрий. Более комфортная и вертикальная посадка райдера с одной стороны и стабильность и маневренность с другой. Велосипед с такой геометрией идеально подойдет тем, кому уже надоело просто кататься по тропкам, наслаждаясь видами, и кто хочет попробовать себя в более спортивном и агрессивном катании.")
                +technologies-features-item("tech-features-item-7.jpg", "ultra alloy 6061", "tech-features-item-icon-7.png", "Ультра легкая рама", "Алюминиевые рамы топ-класса, используемые в байках категории Race, изготовлены из нового сплава алюминия. Максимально облегченная конструкция, беспрецедентная жесткость и прочность на разрыв и наивысший предел пластичности.")
                +technologies-features-item("tech-features-item-8.jpg", "women geometry", "tech-features-item-icon-8.png", "Женская геометрия", "Не секрет, что по физиологии мужчины и женщины отличаются друг от друга. Именно поэтому наши инженеры и дизайнеры разработали специальную геометрию для леди. Дамские рамы имеют более короткую базу, чуть более комфортную посадку и заниженный стендовер, что значительно облегчает женщинам пользование велосипедом и позволяет получить максимум удовольствия во время поездки.")
                +technologies-features-item("tech-features-item-9.jpg", "recreational geometry", "tech-features-item-icon-9.png", "Геометрия для начинающих", "Специально оптимизированная геометрия для начинающих велосипедистов, не ставящих своей целью места на подиуме. Комфорт, удобство и стабильность - вот главные и важные параметры. Чуть измененный угол рулевой колонки и длина верхней трубы образуют комфортную вертикальную посадку для новичков, позволяя наслаждаться катанием целый день.")
                +technologies-features-item("tech-features-item-10.jpg", "super alloy 6061", "tech-features-item-icon-10.png", "Супер сплав", "Благодаря высокотемпературной обработке, из этого сплава получаются жесткие, прочные и в то же время очень легкие рамы.  Тройной баттинг в местах наименьшей нагрузки позволяет достичь максимально возможного результата в снижении веса конструкции.")
                +technologies-features-item("tech-features-item-11.jpg", "comfort jr geometry", "tech-features-item-icon-11.png", "Геометрия для детей и подростков", "Тщательно продуманная специальная геометрия для детских и подростковых велосипедов, разработанная с учетом особенностей физиологии юных райдеров. Велосипеды с такой геометрией максимально безопасны и комфортны для детей и подростков и позволяют получать море наслаждения от катания.")
                +technologies-features-item("tech-features-item-12.jpg", "lite alloy 6061", "tech-features-item-icon-12.png", "Улучшенный сплав 6061", "Улучшенная версия алюминиевого сплава 6061, которая позволяет достичь оптимального соотношения между жесткостью конструкции и низким весом. Сплав устойчив к естественным нагрузкам, ударам и поломкам. Баттирование труб позволяет сохранить прочность и в то же время снизить вес.")