button {
	outline: 0;
	border: 0;
	box-shadow: none;
	border-radius: 0;
	background: none;
	padding: 0;
	font-family: inherit;
	font-weight: inherit;
	cursor: pointer;
	transition: color $transition-time;

	&[disabled],
	&:disabled {
		cursor: default;
	}
}

.btn {
	display: inline-block;
	vertical-align: top;
	font-family: $rubik;
	font-size: 18px;
	line-height: 24px;
	border: none;
	border-radius: 0;
	padding: 14px 40px;
	font-weight: 700;
	font-style: italic;
	transition: color $transition-time;
	text-align: center;
	box-shadow: none!important;
	outline: none!important;
	position: relative;
	z-index: 1;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		transform: $standard-skew;
		transform-origin: left bottom;
		transition: background-color $transition-time;
		z-index: -1;
	}

	@include link-default-style {
		color: getColor('white');

		&:before {
			background: getColor('blue');
		}
	}
	@include link-hover-style {
		color: getColor('white');

		&:before {
			background: getColor('blue-dark');
		}
	}
	
	&-orange {
		@include link-default-style {
			&:before {
				background: getColor('orange');
			}
		}
		@include link-hover-style {
			&:before {
				background: getColor('orange-dark');
			}
		}
	}

	&-black {
		@include link-default-style {
			color: getColor('white');
			&:before {
				background: getColor('black');
			}
		}
		@include link-hover-style {
			color: getColor('black');
			&:before {
				background: getColor('white');
			}
		}
	}

	&-white {
		&:before {
			border: 2px solid transparent;
			transition: background-color $transition-time, border-color $transition-time;
		}
		@include link-default-style {
			color: getColor('blue');
			&:before {
				border-color: transparent;
				background: getColor('white');
			}
		}
		@include link-hover-style {
			color: getColor('white');
			&:before {
				background: transparent;
				border-color: getColor('white');
			}
		}
	}

	&-transparent {
		&:before {
			display: none!important;
		}
	}

	&-disabled,
	&:disabled,
	&[disabled] {
		cursor: default!important;
		pointer-events: none;

		@include link-default-style {
			&:before {
				background: getColor('gray-ight');
			}
		}
		@include link-hover-style {
			&:before {
				background: getColor('gray-ight');
			}
		}
	}

	&-xs {
		font-size: 16px;
		line-height: 22px;
		padding: 10px 18px;
		text-transform: lowercase;
	}

	.icon {
		display: inline-block;
		vertical-align: top;
		fill: currentColor;
		width: 1.5em;
		height: 1.5em;
	}
}