footer#footer.footer
    .container
        .footer-top
            .row
                .col-sm-4.col-md-3
                    a.footer-logo(href="/")
                        img(src="images/logo-full-white.png", alt="Dewolf")
                .col-md-6.order-sm-last.order-md-auto
                    .row
                        .col-6.col-sm-4
                            .footer-menu
                                h4.title
                                    a(href="") Велосипеды
                                ul
                                    li
                                        a(href="") Горные
                                    li
                                        a(href="") Городские
                                    li
                                        a(href="") Детские
                                    li
                                        a(href="") Мужские
                                    li
                                        a(href="") Женские
                        .col-6.col-sm-4
                            .footer-menu
                                h4.title
                                    a(href="") Самокаты
                                ul
                                    li
                                        a(href="") Взрослые
                                    li
                                        a(href="") Детские
                                    li
                                        a(href="") Трюковые
                                    li
                                        a(href="") Внедорожные
                        .col-6.col-sm-4
                            .footer-menu
                                h4.title
                                    a(href="") Dewolf
                                ul
                                    li
                                        a(href="") О бренде
                                    li
                                        a(href="") Технологии
                                    li
                                        a(href="") Дилерам
                                    li
                                        a(href="") Где купить
                                    li
                                        a(href="") Оплата и доставка
                .col-sm-6.col-md-3
                    .footer-contacts
                        .footer-contacts-block
                            a.footer-phone(href="tel:88001234567") 8 800 123 45 67
                            ul.footer-soc
                                li
                                    a(href="", target="_blank")
                                        img(src="images/icon-telegram.svg", alt="Telegram")
                                li
                                    a(href="", target="_blank")
                                        img(src="images/icon-whatsapp.svg", alt="WhatsApp")
                        b Центральный офис в Москве
                        br
                        a(href="mailto:simle@mail.com") simle@mail.com
                        br
                        b Офис Волгаград
                        br
                        a(href="mailto:simle@mail.com") simle@mail.com
                        br
                        a.link-white(href="tel:+74958808080") +7 (495) 880-80-80
        .footer-bottom
            .row
                .col-sm-6.col-md-3.order-md-last
                    ul.footer-soc
                        li
                            a(href="", target="_blank")
                                img(src="images/icon-facebook.svg", alt="Facebook")
                        li
                            a(href="", target="_blank")
                                img(src="images/icon-instagram.svg", alt="Instagram")
                        li
                            a(href="", target="_blank")
                                img(src="images/icon-twitter.svg", alt="Twitter")
                        li
                            a(href="", target="_blank")
                                img(src="images/icon-vk.svg", alt="ВКонтакте")
                        li
                            a(href="", target="_blank")
                                img(src="images/icon-youtube.svg", alt="YouTube")
                .col-md-6
                    .footer-copyright
                        p Опубликованная на страницах данного сайта информация, продукция и её изображения являются объектом прав интеллектуальной собственности ООО «Dewolf». Изображение товара на сайте может отличаться от фактического изображения товара.
                .col-sm-6.col-md-3.order-md-first
                    ul.footer-card-icons
                        li
                            a(href="", target="_blank")
                                img(src="images/icon-visa.png", alt="VISA")
                        li
                            a(href="", target="_blank")
                                img(src="images/icon-mastercard.png", alt="MasterCard")
                        li
                            a(href="", target="_blank")
                                img(src="images/icon-mir.png", alt="МИР")
                        li
                            a(href="", target="_blank")
                                img(src="images/icon-jcb.png", alt="JSB")
                        li
                            a(href="", target="_blank")
                                img(src="images/icon-union-pay.png", alt="UnionPay")

// MODALS
div(style="display:none;")
    #modal-city-select.modal
        .modal__inner
            h4 Выберите Ваш город
            ul
                li
                    a(href="") Москва
                li
                    a(href="") Санкт-Петербург