.catalog-filter {
	line-height: (20/15);

	@include media-breakpoint-up(md) {
		position: relative;
		display: block!important;
	}
	@include media-breakpoint-down(sm) {
		display: none;
		position: fixed;
		z-index: 200;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 40px $grid-gutter-width/2 (42px + 20px + 20px);
		overflow: hidden;
		background: getColor("gray-lightest");

		&.active {
			display: block;
		}
	}

	.inner {
		@include media-breakpoint-down(sm) {
			max-height: 100%;
			overflow: auto;
		}
	}

	&-item {
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}

		.head {
			margin-bottom: 15px;

			button {
				font-family: $rubik;
				font-style: italic;
				font-weight: 700;
				font-size: 18px;
				display: inline-block;
				vertical-align: top;
				transition: color $transition-time;
				margin: 0;
				padding: 0;

				@include link-default-style {
					color: getColor("black");
				}
				@include link-hover-style {
					color: getColor("blue");
				}

				&:after {
					content: "";
					border: 4px solid transparent;
					border-top: 5px solid getColor("blue");
					border-bottom: 0;
					position: static;
					display: inline-block;
					vertical-align: top;
					right: 0;
					height: 5px;
					width: 8px;
					transition: transform $transition-time;
					margin-top: 9px;
					margin-left: 8px;
				}
			}
		}

		.body {
			display: none;

			&.open {
				display: block;
			}
		}

		&.open {
			.head {

				button:after {
					transform: rotate(180deg);
				}
			}
		}

	}

	.variants-list {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			margin: 0 0 10px;
			padding: 0;

			&:last-of-type {
				margin-bottom: 0;
			}

			&:before {
				display: none;
			}
		}
	}

	&-label {
		font-weight: 300;
		text-align: left;
		cursor: pointer;
		display: inline-block;
		vertical-align: top;
		line-height: 20px;

		@include link-default-style {
			color: getColor("black");
		}
		@include link-hover-style {
			color: getColor("blue");
		}
	}

	.custom-radio,
	.custom-checkbox {
		position: relative;
		padding-left: 35px;

		@include media-breakpoint-down(xs) {
			padding-left: 30px;
		}

		&:before,
		&:after {
			content: "";
			position: absolute;
		}

		&:before {
			width: 20px;
			height: 20px;
			background: getColor("white");
			border: 1px solid getColor('gray');
			top: 0;
			left: 0;
		}

		&:after {
			opacity: 0;
			transition: opacity $transition-time;
		}
	}

	.custom-radio {
		&:before,
		&:after {
			border-radius: 50%;
		}

		&:after {
			width: 14px;
			height: 14px;
			background: getColor("blue");
			top: 3px;
			left: 3px;
		}
	}

	.custom-checkbox {

		&:after {
			width: 20px;
			height: 20px;
			top: 0px;
			left: 0;
			background-color: getColor("blue");
			background-image: url(../images/icon-check-white.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 12px auto;
		}
	}

	input[type="radio"]:checked + .custom-radio:after,
	input[type="checkbox"]:checked + .custom-checkbox:after {
		opacity: 1;
	}

	.buttons-line {
		margin-top: 30px;

		button {
			display: inline-block;
			vertical-align: middle;
			margin-right: 17px;

			&:not(.btn) {
				font-weight: 300;
				font-style: italic;
				text-transform: lowercase;
				transition: color $transition-time;

				@include link-default-style {
					color: getColor("gray");
				}
				@include link-hover-style {
					color: getColor("blue");
				}
			}
		}

		@include media-breakpoint-down(sm) {
			position: absolute;
			bottom: 20px;
			left: 0;
			right: 0;
			padding: 0 $grid-gutter-width/2;
		}
	}

	.btn-close {
		display: none;
		width: 40px;
		height: 40px;
		top: 0;
		right: 0;
		transition: color $transition-time;
		padding: 10px;
		position: absolute;

		@include link-default-style {
			color: getColor("gray");
		}
		@include link-hover-style {
			color: getColor("blue")
		}

		@include media-breakpoint-down(sm) {
			display: block;
		}

		.icon {
			width: 100%;
			height: 100%;
			display: block;
			fill: currentColor;
		}
	}

	.range-block {
		padding-top: 5px;
		padding-bottom: 10px;

		&-inputs {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			flex-wrap: nowrap;
			margin-bottom: 20px;

			&:before {
				content: "";
				display: block;
				width: 12px;
				height: 1px;
				flex: 0 0 auto;
				margin: 0 10px;
				background: getColor("gray");
			}

			.input-wrapper {
				flex: 1 1 auto;
				min-width: 0;
				position: relative;
				background: getColor("white");

				&:first-of-type {
					order: -1;
				}
			}
		}

		input {
			display: block;
			width: 100%;
			background: transparent!important;
			border: 1px solid getColor("gray");
			outline: none!important;
			box-shadow: none!important;
			line-height: 32px;
			padding: 0;
			padding-left: 37px;
			padding-right: 15px;
			color: getColor("black");
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			font-style: inherit;
			position: relative;
			z-index: 1;

			@include placeholder {
				color: getColor("gray");
			}
		}

		.placeholder {
			line-height: 34px;
			position: absolute;
			top: 0;
			left: 0;
			width: 35px;
			text-align: right;
			color: getColor("gray");
		}
	}
}