.ui-range-slider {
	position: relative;
	height: 15px;
	background: transparent;

	&:before {
		position: absolute;
		height: 1px;
		background: getColor('gray');
		left: 0;
		right: 0;
		top: 7px;
		content: "";
	}

	.ui-widget-header {
		position: absolute;
		top: 7px;
		bottom: auto;
		height: 1px;
		background: getColor('blue');
	}

	.ui-slider-handle {
		width: 15px;
		height: 15px;
		border-radius: 0;
		position: absolute;
		top: 0;
		margin-left: -7px;
		background: getColor("blue");
		transform: $standard-skew;
		transform-origin: left bottom;
	}
}